body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(197, 248, 248);
}

.title {
  text-align: center;
  margin: 10px ;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.big-div {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.child-div {
  width: 50%;
  flex: 1;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center; 
  align-items: center;
}

.time-list {
  list-style-type: none;
  padding-left: 0;
}

.input {
  width: 60%;
  height: 25px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
}

.btn {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(97, 198, 245);
}

.input-add {
  display: flex;
}

.add {
  width: 30%;
}

p, li {
  font-size: 20px;
}

.list-div {
  height: 60vh;
}

.half-one {
  margin: 10px 0;
}